.firstPage,.secondPage,.thirdPage,.fourthPage,.fifthPage,.sixthPage,.seventhPage{
  width: 100%;
  height: 100vh;
}

.navbar{
    background: #FED593;
    padding: 20px;
}

.navbar a{
    color: #807AB2;
    text-decoration: none;
    font-family: 'Varela Round';
    font-weight: bold;
}

.logo{
    font-size: 20px;
}

.headerGroup{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.headerGroup a{
    margin: 10px;
    font-family: 'cwTeXYen';
}

.logIn{
    font-size: larger;
    background: #373453;
    color: white!important;
    padding: 10px;
    border-radius: 40px;
}

.logIn:hover{
    background: #807AB2;
    font-weight: 900;
}

.content{
    display:flex;
    width: 100%;
    height: 470px;
    background: #232138;
    overflow: hidden;
}

.left{
    background: #373453;
    color: white;
    width: 40%;
    border-radius: 0 10% 0 0;
    position: relative;
}

.right{
    width: 60%;
    position: relative;
}

.leftTitle{
    position: absolute;
    top:150px;
    left:150px;
    text-align: center;
    margin: 0;
}

.title{
    font-size: 28px;
    font-weight: bold;
    margin: 0;
}

.titleCloud{
    position: absolute;
    bottom:0;
    left:0;
    width: 70%;
}

.titleStar{
    position: absolute;
    bottom: 20px;
    left:50px;
    width: 10%;
}

.star{
    position: absolute;
    width: 5%;
    left: -20px;
    top: 150px;
    rotate: 60deg;
}

.rightTitle{
    position: absolute;
    margin: 0;
    color: #E95D60;
    right: 250px;
    bottom: 200px;
    font-size: xx-large;
    font-weight: 900;
    text-shadow: 1px 1px #FFF3E0, -1px -1px #FFF3E0, 1px -1px #FFF3E0, -1px 1px #FFF3E0; /*空心字*/
    font-family: 'Varela Round';
}

.purpleRainbow{
    position: absolute;
    right:288px;
    width: 50%;
    z-index: 2;
}

.The{
  position: absolute;
  width: 20%;
  left: 20px;
  top: 70px;
}

.f2e{
    position: absolute;
    top: 120px;
    left: 5px;
    width: 50%;
    z-index: 3;
}

.green{
    position: absolute;
    right:200px;
    z-index: 1;
    rotate: 15deg;
}

.rightCloud{
    position: absolute;
    right: 0;
    top:150px;
}

.leftCloud{
    position: absolute;
    bottom:100px;
}

.pink1{
    position: absolute;
    bottom: -110px;
    right:200px;
}

.pink2{
    position: absolute;
    bottom: -90px;
    right:50px;
}

.footer{
    background:#FED593;
    max-width: 100%;
    overflow: hidden;
}

.loop{
    list-style: none;
    margin: 0;
    padding: 0;
    height: 70px;
    color: #807AB2;
    line-height: 70px;
    text-align: center;
    font-size: x-large;
    white-space: nowrap;
    text-shadow: -1px 0 white, 0 1px white,1px 0 white, 0 -1px white;
}

.secondPage{
    background: #FFF3E0;
    width: 100%;
    display: flex;
}

.rocket{
    padding: 10px;
    position: absolute;
    width: 60%;
    top: 50px;
    left: 50px;
}

.secondLeft{
    width: 50%;
    position: relative;
}

.secondRight{
    width: 50%;
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sOne,.sTwo,.sThree{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.sOne p,.sTwo p,.sThree p{
    margin: 0;
    line-height: 108px;
    font-size:x-large;
    font-weight: bold;
}

.secondCloud{
    transform: scaleX(-1); /*水平翻轉*/
}

.thirdPage{
    background: #232138;
    color: white;
    width: 100%;
    height: 100vh;
    text-align: center;
    position: relative;
}

 .article{ 
    position: relative; /*水平垂直置中*/
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    font-weight: bold;
} 

.clear{
    margin: 0;
}

.thirdLeftCloud{
    position: absolute;
    bottom:0;
    left:0;
    transform: scaleX(-1);
    width: 25%;
}

.thirdRightCloud{
    position: absolute;
    bottom:0;
    right:0;
    width: 25%;
}

.thirdStar2{
    position: absolute;
    left:380px;
    width: 3%;
}

.thirdStar{
    position: absolute;
    right:380px;
    top:250px;
    width: 3%;
}

.fourthPage{
    height: 100%;
}

.fourContent {
    position: relative;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.week {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

  .z-0 {
    z-index: 0;
  }
  .z-10 {
    z-index: 10;
  }
  .z-20 {
    z-index: 20;
  }
  .week-left {
    left: -17px;
  }
  .week-right {
    right: 0;
  }

  .ladder{
    position: absolute;
    left: 130px;
  }

  .cloud{
    position: absolute;
    bottom: 0;
    right: 0;
    transform: scaleX(-1);
  }

  .wTwoStar{
    position: absolute;
    width: 6%;
  }

  .wthreeRocket{
    position: absolute;
    left: 200px;
  }

  .woneArticle{
    position: absolute;
    right: 180px;
    color: white;
    text-align: center;
  }

  .wtwoArticle{
    position: absolute;
    left: 250px;
    color: #373453;
    text-align: center;
  }

  .wthreeArticle{
    position: absolute;
    right: 250px;
    color: #373453;
    text-align: center;
  }

  .woneArticle a,.wtwoArticle a,.wthreeArticle a{
    text-decoration: none;
    display: block;
    width: 130px;
    height: 50px;
    margin: auto;
    line-height: 50px;
    background: white;
    border-radius: 30px;
    color: #373453;
    font-weight: bold;
  }

  .woneArticle h1,.wtwoArticle h1,.wthreeArticle h1{
    margin-bottom: 30px;
  }

  .fifContent{
    background: #373453;
    height: 100vh;
    position: relative;
  }

  .track{
    display: block;
    margin: 0 auto;
    height: 100vh;
    padding: 50px;
  }

  .straightRocket{
    position: absolute;
    width: 6%;
    left: 47%;
  }

  .fifLeftCloud{
    position: absolute;
    bottom: 0;
  }

  .fifRightCloud{
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .trackStar1{
    position: absolute;
    width: 3%;
    left: 48.5%;
    top: 200px;
  }

  .trackStar2{
    position: absolute;
    width: 3%;
    left: 48.5%;
    top: 300px;
  }

  .trackStar3{
    position: absolute;
    width: 3%;
    left: 48.5%;
    top: 400px;
  }

  .trackStar4{
    position: absolute;
    width: 3%;
    left: 48.5%;
    top: 500px;
    rotate: -8deg;
  }

  .fifOne{
    position: absolute;
    right: 20%;
    top: 210px;
    color: white;
    font-size: large;
    font-weight: bold;
  }

  .fifTwo{
    position: absolute;
    left: 20%;
    top: 310px;
    color: white;
    font-size: large;
    font-weight: bold;
  }

  .fifThree{
    position: absolute;
    right: 20%;
    top: 410px;
    color: white;
    font-size: large;
    font-weight: bold;
  }

  .fifFour{
    position: absolute;
    left: 20%;
    top: 510px;
    color: white;
    font-size: large;
    font-weight: bold;
  }

  .sixContent{
    background: #FED593;
    height: 100vh;
    position: relative;
  }

  .prizePic{
    position: absolute;
    width: 25%;
    right: 100px;
    bottom: 50px;
  }

  .sixContent h3{
    text-align: center;
    padding: 50px;
    font-weight: bold;
  }

  .purpleThunder{
    position: absolute;
    width: 3%;
    left: 290px;
    top: 20px;
  }

  .redThunder{
    position: absolute;
    width: 3%;
    right: 290px;
    top: 20px;
  }

  .sixCloud{
    position: absolute;
    width: 50%;
  }

  .judge{
    position: absolute;
    left: 50px;
    background: white;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 2px 2px 4px 4px #373453;
    font-weight: bold;
  }

  .judge p,.prize p,.prize h5{
    margin: 0;
  }

  .judge h2,.prize h2,.prize h5,.prize h6{
    font-weight: bold;
  }

  .prize{
    position: absolute;
    left: 50px;
    top:300px;
    background: white;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 2px 2px 4px 4px #373453;
    font-weight: bold;
    width: 660px;
  }

  .prize p{
    padding: 0 0 0 130px;
  }

  .prize span{
    padding: 0 15px 0 10px;
  }

  .prizeEnd{
    text-align: end;
  }

  .seventhPage{
    background: #373453;
    height: 100vh;
    display: flex;
    position: relative;
  }

  .seventhPage h2{
    margin: 0 auto;
    color: #E95D60;
    text-align: center;
    padding: 50px 0 50px 0;
    text-shadow: -2px 0 black, 0 2px black,2px 0 black, 0 -2px black;
  }

  .sevenContent{
    margin: 0 auto;
    line-height: 300px;
    position: relative;
  }

  .sevenContent img{
    width: 200px;
  }

  .sevCloud{
    position: absolute;
    bottom: 0;
  }

  .sevBlackCloud{
    position: absolute;
    width: 20%;
    bottom: 0;
    left: 145px;
  }

  .sevStar{
    position: absolute;
    width: 3%;
    bottom: 30px;
    left: 300px;
  }